// Import our partials ----------------------------------------------------------

@import "partials/common";
@import "partials/reset";

// Now set up the site ----------------------------------------------------------

html {
  height: 100%;
  width: 100%;
}
body {
  color: $black;
  font: 400 125%/1.6 $sentinel;
  padding: 3em;
  text-align: left;
}
main, header, footer {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

// Typography

h1,h2,h3,h4 {
  font-family:$archer;
  font-weight:800;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.75em;
}
h2 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.75em;
}
h4 {
  font-size: 1.25em;
  line-height: 1;
  margin-bottom: 0.75em;
}
p {
  margin: 0 auto 1.5em;
}
time {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-bottom: 1em;
  text-align: center;
}

// Links

a {
  color: $green;
  text-decoration: none;
  @include transition(color 0.1s linear);
  &:hover {
    color: $black;
  }
}

// Header and Footer

header {
  margin-bottom: 3em;
}

footer {
  border-top: 1px solid #e1e1e1;
  color: #999;
  margin-top: 3em;
  padding-top: 3em;
  font-size: 0.9em;
  text-align: center;
}

// Articles 

article {
  h1, h2 {
    text-align: center;
    margin: 0 0 0.2em;
  }
  p:first-of-type:first-letter {
    font-family:$archer;
    float: left;
    line-height: 0.55;
    font-size: 3em;
    font-weight: 800;
    margin: 15px 0.2em 0 0;
  }
}