/* Wufoo styles for embedded forms */

input.text,textarea.textarea {
  background:none !important;
  background-color:#e8e8e8 !important;
  border:0 !important;
  border-radius: 0;
  box-sizing:border-box;
  padding:0.5em !important;
  width:100% !important;
  -webkit-appearance:none;
}
textarea.textarea {
  height:150px !important;
}
input.text:focus,textarea.textarea:focus {
  outline:none;
}
input.btTxt {
  background-color:#009b77;
  border:0 !important;
  border-radius: 0;
  box-sizing:border-box;
  color:#fff;
  cursor:pointer;
  font-family:"brandon-grotesque", 'Helvetica Neue', Helvetica, arial, sans-serif;
  font-size:1.5em;
  font-weight:900;
  letter-spacing:5px;
  padding:0.8em 0;
  text-transform:uppercase;
  width:100% !important;
  -webkit-appearance:none;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
input.btTxt:hover {
  background-color: #021410 !important;
}
#header {
  display:none;
}
.protected {
  margin-top:1.5em !important;
}
.protected h2 {
  display:none;
}
#form1 > ul {
  margin-top: 3em !important;
}
.wufoo label.choice {
  font-size: 1.3em !important;
  margin-top: -18px !important;
}
.embed .confirm h2 {
  color: #009b77;
  font-size: 2.2em;
}
.error {
  background-color:#fff !important;
}
.error input {
  background-color:#FFDFDF;
}
form li.error .desc {
  font-weight:400 !important;
}