<% content_for(:title, current_page.title) %>
<% content_for(:description, Nokogiri::HTML(current_page.summary(115)).text) %>

<% wrap_layout :layout do %>
  <section class="blog">
    <%= partial "blog_entry", :locals => { :article => current_page } %>
  </section>
<% end %>