<div class="col-right">
    
  <h3>Tags</h3>
  <ul>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to(tag, "/tags/#{tag}/") %></li>
    <% end %>
  </ul>

  <h3>Archive</h3>
  <ul>
    <% blog.articles.group_by {|y| y.date.year }.each do |year, articles| %>
      <li>
        <%= link_to(year, blog_year_path(year)) %>
        <ul>
          <% articles.group_by {|a| a.date.month}.each do |month, month_articles| %>
            <li><%= link_to month_articles.first.date.strftime("%B"), blog_month_path(year, month) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <ul>

</div>