<footer id="footer">
  <p>Copyright © <%= Time.now.year %> Ollie &amp; Kat.</p>
  <ul>
    <li><%= link_to("About", "/about/") %></li>
    <li><%= link_to("Archive", "/archive/") %></li>
    <li><%= link_to("Our wedding", "/wedding/") %></li>
  </ul>
</footer>