<% content_for(:title, "About") %>

<section id="about" class="body">
  <header>
    <h1>About us</h1>
  </header>
  <article>
    <p>We are Ollie &amp; Kat, and this is our blog about moving to Canada and documenting our travels and experiences.</p>
  </article>
</section>