- content_for :head do
  %title Save the date! Ollie and Kat are getting married.

%header#header
  %nav
    %ul
      %li=link_to("Home","#header")
      %li.about=link_to("About","#about")
      %li=link_to("Info","#info")
      %li=link_to("RSVP","#rsvp")
  %h1 
    %span Ollie and Kat 
    are getting married
  %p Saturday 29th June 2013

%section#about
  %h2 About us
  =image_tag("ollie_and_kat.jpg", :alt => "")
  .column
    %p We met over 6 years ago in London, where our passion for design cemented our relationship. We’ve travelled, moved to the country, got a dog, bought a house, and while we may already be married, a marriage without a wedding party with the ones you love around you is only half-way done. So, we picked our favourite spot in the world to host a great party!

%section#info
  %h2 Wedding information
  %ul
    %li
      =image_tag("clock_one.png", :alt => "")
      %h3 1pm
      %p Renewal of Vows
      %span Dress: Lake chic
    %li
      =image_tag("clock_two.png", :alt => "")
      %h3 2pm
      %p Cottage Games
      %span Dress: Swimming trunks
    %li
      =image_tag("clock_three.png", :alt => "")
      %h3 4pm+
      %p BBQ + Cottage party
      %span Dress: Towel + Hoodie 
  %address
    51 Chemin Des Sables<br/>
    Val-des-Monts<br/>
    Canada
  .column
    %p We invite you to witness our Renewal of Vows at The Cottage overlooking Lac MacGlashan. Then, Canada will take on the Brits in a battle for supremecy (we all know who will win).

    %p We will drink, eat, talk, dance and roast marshmallows. The evenings get chilly so bring a sweater and trousers.

    %p No gifts please!  Instead, we’d like you to contribute to our BBQ. So...

    %p 
      %span 
        Canadians: 
      bring a salad<br/>
      %span 
        Brits: 
      bring a bottle of wine from duty free

%section#rsvp
  %h2 RSVP
  .column
    %p 
      To access the RSVP area please use the code that came with your wedding invites. If you didn’t receive one please email 
      =link_to("info@ollieandkat.com", "mailto:info@ollieandkat.com")
      <div id="wufoo-z7x3p3">
      Fill out my <a href="http://ollieandkat.wufoo.com/forms/z7x3p3">online form</a>.
      </div>

%footer#footer
  =image_tag("footer_icon.png", :alt => "")
  %p 
    Copyright © 2013 Ollie &amp; Kat.<br/>
    For any further information contact us at
    = succeed '.' do
      =link_to("info@ollieandkat.com", "mailto:info@ollieandkat.com")
  %p
    This site was lovingly built using 
    =link_to("Middleman app", "http://middlemanapp.com/")
    with the fonts
    =link_to("Brandon Grotesque", "https://typekit.com/fonts/brandon-grotesque")
    and
    =link_to("Kulturista Web", "https://typekit.com/fonts/kulturista-web")
    from
    = succeed '.' do
      =link_to("Typekit", "https://typekit.com")