- content_for :head do
  %title Save the date! Were getting married

%section#clock
  %span#weeks
  Weeks
  %span#daysLeft
  Days
  %span#hours
  Hours
  %span#minutes
  Minutes
  %span#seconds
  Seconds