- content_for :head do
  %title Save the date! Were getting married

#map
#overlay
  %section#clock_holder
    %h1 Save the date, we're getting married!
    #clock

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="http://maps.stamen.com/js/tile.stamen.js"></script>

:javascript
  var layer = "toner";
  var mapOptions = {
    
  }
  var map = new google.maps.Map(document.getElementById("map"), {
    center: new google.maps.LatLng(45.650738, -75.745711),
    zoom: 7,
    mapTypeId: layer,
    mapTypeControl: false,
    scrollwheel: false,
    disableDefaultUI: true,
    mapTypeControlOptions: {
      mapTypeIds: [layer]
    },
    mapTypeControlOptions: {
      style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
    },
    zoomControl: true,
    zoomControlOptions: {
      style: google.maps.ZoomControlStyle.SMALL
    }
  });
  map.mapTypes.set(layer, new google.maps.StamenMapType(layer));
  var image = 'images/map_icon.png';
  var myLatLng = new google.maps.LatLng(51.5026305, -0.1905625);
  var lepeMarker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    icon: image
  });
  var center;
  function calculateCenter() {
    center = map.getCenter();
  }
  google.maps.event.addDomListener(map, 'idle', function() {
    calculateCenter();
  });
  google.maps.event.addDomListener(window, 'resize', function() {
    map.setCenter(center);
  });